{% extends 'emploi/base.html' %}
{% block title %}
Accueil
{% endblock %}
{% block content %}
    <div class="text-center">
        <h3>Welcome {% if user.is_authenticated %} {{user.username}} {% endif %} !</h3>
        <p><strong>PYEmploi</strong>, le site qui vous permettra de déposer des offres d'emploi rapidement pour Développeurs Python.</p>
        {% if user.is_authenticated %}
            <p>Vous pouvez déposer une offre, ou consulter les offres du site.</p>
            <a href="/myoffres" class="btn btn-primary"><span class="glyphicon glyphicon-stats"></span> Voir mes offres</a>
        {% else %}
            Vous pouvez consulter les offres du site. Vous êtes recruteur? Connectez-vous ou Inscrivez-vous pour déposer des offres !
        {% endif %}

    </div>
{% endblock %}