{% extends 'emploi/base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}
<form method="post" role="form">
    {% csrf_token %}
    <label for="username">Nom d'utilisateur</label>
    <input id="username" type="text" name="username" placehorlder="Utilisateur">
    <label for="mdp">Mot de passe</label>
    <input id="mdp" type="password" name="password" placehorlder="Mot de passe">
    <input type="submit" class="btn btn-primary" value="Connexion"/>
</form>
{% endblock %}