{% extends 'emploi/base.html' %}
{% block title %}Offres{% endblock %}
{% block content %}
    <h4>Les offres publiées par moi</h4>
    {% if offres|length = 0 %}
            Vous n'avez pas encore déposé d'offre. Si vous souhaitez le faire, cliquez <a href="/deposer">ici</a></p>
    {% else %}
        {% for offre in offres %}
                <!--Card-->
                <div class="col-md-5">
                    <div class="card card-cascade wider">
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">{{ offre.intitule }}</h4>
                            <!--Text-->
                            <p class="card-text">{{ offre.description }}</p>
                            <a href="/update/{{ offre.id }}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Modifier</a>
                            <a href="/delete/{{ offre.id }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer</a>
                        </div>
                    <!--/.Card content-->
                    </div>
                </div>
            {% endfor %}
    {% endif %}
{% endblock %}