{% extends 'emploi/base.html' %}
{% block title %}Offres{% endblock %}
{% block content %}
    {% if offres|length = 0 %}
        <p>Pas d'offres.</p>
    {% else %}
        {% for offre in offres %}
            <!--Card-->
            <div class="col-md-4">
                <div class="card card-cascade wider">
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">{{ offre.intitule }}</h4>
                        <!--Text-->
                        <p class="card-text">{{ offre.description }}</p>
                        <a href="/detail/{{ offre.id }}" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Détails</a>
                    </div>
                <!--/.Card content-->
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}