{% extends 'emploi/base.html' %}
{% block title %}
Create Offre
{% endblock %}
{% block content %}
<h3>Déposer une offre d'emploi</h3>
    {% if user.is_authenticated %}
         <form action="." method="post">
            {% csrf_token %}
             {{ form.as_p }}
            <div class="text-center">
                <input type="submit" value="Créer" class="btn btn-default">
            </div>
        </form>
    {% else %}
    Forbidden access. Vous devez vous connecter pour déposer une offre, cliquez <a href="/login">ici</a>.
    {% endif %}
{% endblock %}