{% extends 'emploi/base.html' %}
{% block title %}Detail{% endblock %}
{% block content %}
    <h3>{{ offre.intitule }}</h3>
    <p>Date de validité du poste: {{ offre.date_poste }}</p>
    <p>Description du poste: {{ offre.description }}</p>
    <p>Durée du contrat: {{ offre.duree }}</p>
    <p>A: {{ offre.lieu }}</p>
    <p>Compétences demandées: {{ offre.competences }}</p>
    <p>Pour postuler: <a href="mailto:{{ offre.contact }}" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> {{ offre.contact }}</a></p>
{% endblock %}