{% extends 'emploi/base.html' %}
{% block title %}Offres{% endblock %}
{% block content %}
 <form action="." method="post">
    {% csrf_token %}
     {{ form.as_p }}
     Êtes-vous sûr de vouloir supprimer l'offre ?
    <input type="submit" value="Confirmer" class="btn btn-primary">
     <a class="btn btn-danger" href="/myoffres">Retour</a>
</form>
{% endblock %}