.navbar-nav{
    margin-top: 0px;
    margin-right: 2em;
    margin-bottom: 0px;
    margin-left: 2em;
}
.navbar-nav > li{
    margin-right: 2em !important;
}
.text-fluid, h1, h2, h3, h4, h5, h6
{
    background-color: #7195B7;
    color: #FFF;
    font-weight: 400;
    padding: 1%;
    box-shadow: 0px 0px 3px rgb(128, 128, 128);
    text-align: center;
   }
.wrapper{
    background-color: #FBFBFB;
    }
.card-text{
    height:150px;
    overflow:hidden;
    text-overflow: ellipsis !important;
}